.footerContainer {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    bottom: 0;
    position: relative;

}

.footerContent {
    color: var(--dark-blue);
    font-size: .8rem;
}

