.headerContainer {
    background-color: var(--light-green);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 6rem;
}

.headerTitle {
    font-family: 'Titan One', cursive;
    font-size: 3rem;
    color: var(--dark-blue);
}

.headerImage {
    width: 45%;
    margin-left: 140px;
}

.headerText {
    color: var(--dark-green);
}