.mainCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: var(--background);
    padding-bottom: 2rem;
    padding-top: 2.3rem;
    color: var(--dark-green);
}


/* VALUE */
.values {
    margin-top: 1rem;
}

.valuesTitle {
    color: var(--brown);
    padding-bottom: 2rem;
    text-align: center;
    font-family: 'Titan One', cursive;
    font-size: 2.2rem;
}

.valuesList {
    width: 65%;
    display: inline-block;
    column-count: 2;
    column-gap: 5rem;
    color: var(--light-gray);
}

.valuesText {
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    background-color: var(--first);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    background-color: var(--dark-green);
    /* line-height: 1.3rem; */
}



.valuesText:hover {
    color: var(--medium-green);
    background-color: var(--background);
    transition: .4s;
}

ul {
    list-style: none;
}



/* FOCUS */

.containerFocus {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--dark-green);
    padding-bottom: 2.3rem;
    padding-top: 2.3rem;
    color: var(--dark-green);
}

.titleFocus {
    color: var(--off-white);
    padding-bottom: 2rem;
    text-align: center;
    font-family: 'Titan One', cursive;
    font-size: 2.2rem;
}

.focusCard {
    width: 67%;
    display: inline-block;
    column-count: 2;
    column-gap: 5rem;
    background-color: var(--light-green);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.739);
    border-radius: 10px;
}

.focusTextList {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}


.focusTextList>p>b {
    margin-top: 1rem;
    display: inline-block;
}


/* PROJETOS */

.projects {
    padding-top: 1rem;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 2.3rem;
    padding-top: 2.3rem;
}

.projectsTitle>h3 {
    color: var(--brown);
    font-family: 'Titan One', cursive;
    font-size: 2.2rem;
    text-align: center;
    padding-bottom: 2rem;
}

.projectsContainer {
    width: 60%;
    display: inline-block;
    column-count: 2;
    column-gap: 5rem;
    border-radius: 10px;
}

.projectsCard {
    color: var(--off-white);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    background-color: var(-);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.438);
    margin-bottom: 1rem;
    background-color: var(--dark-green);

}

.projectsTitle {
    
    display: inline-block;
    /* align-items: center; */
    text-align: center;
}

.projectsImage {
    margin-top: 1rem;
    border-radius: 10px;
    max-width: 80%;
}