.mainCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: var(--background);
    /* padding-bottom: 2rem; */
    padding-top: 2.3rem;
    color: var(--dark-green);

}


/* VALUE */
.values {
    padding-bottom: 1rem;
}

.valuesTitle {
    color: var(--brown);
    padding-bottom: 2rem;
    text-align: center;
    font-family: 'Titan One', cursive;
    font-size: 2.2rem;
}

.valuesList {
    width: 65%;
    display: inline-block;
    column-count: 2;
    color: var(--light-gray);

}

.valuesText {
    width: 85%;
    padding-left: .4rem;
    padding-right: .4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px;
    text-align: center;
    background-color: var(--first);
    margin-bottom: 1rem;
    background-color: var(--dark-green);
}

.valuesText:hover {
    color: var(--medium-green);
    background-color: var(--background);
    transition: .4s;
}

ul {
    list-style: none;
}



/* FOCUS */

.containerFocus {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--dark-green);
    padding-bottom: 2.3rem;
    padding-top: 2.3rem;
    color: var(--dark-green);
}

.titleFocus {
    color: var(--off-white);
    text-align: center;
    font-family: 'Titan One', cursive;
    font-size: 2.2rem;
}

.focusCard {
    width: 70%;
    display: inline-block;
    column-count: 2;
    color: var(--light-gray);
    border-radius: 10px;
}

.focusTextList {
    padding-left: .4rem;
    padding-right: .4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.focusTextList>b {
    margin-top: 1rem;
    display: inline-block;
    color: var(--light-green);
}


/* PROJETOS */

.projects {
    padding-top: 1rem;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 2.3rem;
    padding-top: 2.3rem;

}

.projectsTitle>h3 {
    color: var(--dark-blue);
    font-family: 'Titan One', cursive;
    font-size: 2.2rem;
    text-align: center;
    padding-bottom: 2rem;
}

.projectsContainer {
    width: 60%;
    display: inline-block;
    column-count: 2;
    column-gap: 2rem;
    border-radius: 10px;

}

.projectsCard {
    color: var(--brown);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 2rem;
    background-color: var(--light-green);
}

.projectsTitle {
    display: inline-block;
    /* align-items: center; */
    text-align: center;
}

.projectsImage {
    margin-top: 1rem;
    border-radius: 10px;
    max-width: 80%;
}