@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Titan+One&display=swap');


:root {

  --dark-green: #232725;
  --light-green: #D0F2DF;
  --medium-green: #578f6b;
  --brown: #362b25;
  --background: #F4F9F4;
  --dark-blue: #203A40;
  --light-gray: #f8f7f7;
  --off-white: #FDFDF6;

}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #578f6b41;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #578f6b7e;
}